{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <style>
body{background-color:#F5F5F5;} * {margin:0; padding:0;}

div{width:500px; margin:30px auto;}

li{list-style:none; margin:15px 0;}

input,select {height:50px;}
input#year{width:162px; height:54px;}
select#month{margin: 0 2px; width:162px; height:54px;}
input#day{width:162px; height:54px;}
select#gender{width:500px;}
label{line-height:30px; font-size:15px;width:500px; font-weight:bold;}
button{
    font-size:15px;
    cursor:pointer;
    color:white;
    display:block;
    background-color:#090;
    border:0px solid #090;
    width:490px;
    height:70px;
    float: center;}
#sex{width:500px;}


    </style>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- 경륜 쓴거 -->
  <script src = "jquery-3.4.1.js"></script>
  </head>
<body>
    <div>
        <form >
            <ul>
                <li>
                    <label>아이디<br><input type="text" id="id" name="id" size="60" required></label>
                </li>
                <li>
                    <label>비밀번호<br><input type="password" id="pwd" name="pwd" size="60" required></label>
                </li>
                <li>
                    <label>비밀번호확인<br><input type="password" id="pwd2" size="60" required></label>
                </li>
                <li>
                    <label>이름<br> <input type="text" id="name" name="name" size="60" required></label>
                </li>
                <li id="ageData">
                    <label>생년월일<br> <input type="text" id="year" name="year" size="15" placeholder="년" required>
                    <select id="month" name="month">
                        <option value="0">1월</option>
                        <option value="0">2월</option>
                        <option value="0">3월</option>
                        <option value="0">4월</option>
                        <option value="0">5월</option>
                        <option value="0">6월</option>
                        <option value="0">7월</option>
                        <option value="0">8월</option>
                        <option value="0">9월</option>
                        <option value="0">10월</option>
                        <option value="0">11월</option>
                        <option value="0">12월</option>
                    </select>
                    <input type="text" id="day" size="15" name="day" placeholder="일" required>
                    </label>
                </li>
                <li>
                    <label>성별<br><select id="gender" name="gender">
                        <option value="m">남자</option>
                        <option value="w">여자</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>본인 확인 이메일<small>선택입력</small><br>
                        <input type="email" id="e-mail" name="emial" size="60" placeholder="e-mail">
                    </label>
                </li>

                <li>
                    <button type="submit" class="sub">가입하기</button>
                </li>
            </ul>
        </form>
    </div>
 <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>